@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Деканат университета</h1>
    <p>Добро пожаловать в информационную систему деканата.</p>
    <p>Используйте меню для навигации.</p>
</div>